/* Основные стили */
html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: monospace;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 20px;
  text-align: center;
}

section {
  padding: 40px 20px;
}

hr {
  margin: 0px;
}

/* Loader styles */
#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-icon {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Hide content initially */
.content {
  display: none;
}

.toggle-button {
  z-index: 2;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 50%;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: font-size 0.4s ease;
}

.icon {
  transition: opacity 0.5s, transform 0.5s;
}

.sun {
  position: absolute;
}

.moon {
  position: absolute;
  transform: rotate(360deg);
}

.moon:hover{
  font-size: 50px;
  transition: 0.4s ease;
}

.toggle-button:hover{
  font-size: 50px;
  transition: 0.4s ease;
}

a {
  border-radius: 4px;
  padding: 4px;
}

.go-up {
  opacity: 0.5;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

/* Отключение hover на мобильных устройствах */
.touch-device .my-element:hover {
  /* Ваш стиль */
  pointer-events: none;
}

/* Стили для анимации появления секций */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section {
  opacity: 0;
  margin-left: 5%;
  margin-right: 5%;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.section.visible {
  animation: fadeIn 0.5s forwards;
}

@keyframes blink {
  0%, 100% {
    box-shadow: 10px 7px 15px white ;
  }
  50% {
    box-shadow: 10px 10px 15px ;
  }
}

.blinking-button {
  animation: blink 2s infinite;
}

.lang-button {
  z-index: 2;
  position: absolute;
  top: 4%;
  left: 3%;
  color: rgb(36, 39, 41);
  cursor: pointer;
  background: none;
  border: none;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 20%;
  animation: lang-blink 5s infinite;
}

@keyframes lang-blink {
  0%, 100% {
    background-color: rgba(255, 255, 255, 0.404);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.445);
  }
}

.lang-button:hover {
  animation: lang-blink none;
  background-color: rgb(255, 255, 255);
}

/* Переход для плавной смены текста */
.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

/* Модальное окно (скрыто по умолчанию) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.8); 
}

/* Модальное содержание */
.modal-content {
  position: relative;
  margin: 10% auto;
  padding: 5px;
  width: 80%;
  max-width: 600px;
  background-color: #00000067;
  border-radius: 10px;
  text-align: center;
}

/* Кнопка закрытия модального окна */
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: .3s ease;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Фото в модальном окне */
.modal-photo {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.photo-button {
  z-index: 2;
  position: absolute;
  color: rgb(36, 39, 41);
  cursor: pointer;
  background: rgba(0, 0, 0, 0.315);
  border: none;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}